INVGATE_API_URL=https://tocsa.is.cloud.invgate.net:443/public-api
INVGATE_CLIENT_ID=IEMeJ672gnGKFSQfiitIUeXQ7FtNUtZhQJvpnCeN
INVGATE_CLIENT_SECRET=noDbRQQZ7B8kmXdsv2Rn7zlwq9QJbER0DccM8fMDKAJl2JjGQoON4pko5iAPdB6HSzDeg9TbhIpWYMNsWTqBZ5J9iU7Tlut1sGb4xpZRyZ7MrekGxkLurLOLEMqYeu2H
PORT=3000
MONGODB_URI=mongodb://localhost:27017/remisiones
NODE_ENV=development
